body {
   margin: 0;
}

.optionBtn {
 padding: 20px 75px;
  width: 300px;
  color: #fff;
  background-color: #c0e19d;
  border:none;
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  font-size: 1.1em;
  margin-right: 5px;
} 

.optionBtn:active,
.optionBtn.active {
  
background-color: #fff;
color: lightslategray;
}

.optionBtn:hover {

background-color: #fff;
color: lightslategray;
}

.optionBtn:focus,
.optionBtn.focus {

background-color: #fff;
color: lightslategray;
text-decoration: none;

}

.optionList {
  padding: 0;
  margin-top: 50px;
  margin-left: -30px;
}

.viewList li {
  list-style-type: none;
  color: darkslategray;
  font-size: 1.2em;
  margin-top: 30px;
}

.removeBtn {
  width: 100px;
  height: 30px;
  background-color: indianred;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
}














    

 






