<template>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div css.bind="mainPage">
        
            	<ul style="padding:0">
         <li style="display: inline">
             
            <a href="/#/viewOrg">View Organization</a>
              </button>
              <button css.bind="navHeaderActive">
            <a href="/#/createOrg">Create Organization</a>
              </button>
         </li>    
      </ul>
    <h2>${heading}</h2>

     <ul>
        <li id="element" repeat.for="organization of organizations">
            ${organization.name}
            <br>
            ${organization.address}
            <br>
            ${organization.city}
            ${organization.state}
            ${organization.zipCode}
            <br>
            <button click.trigger="removeOrg(organization)">Remove</button>
        </li>
    </ul>

        </div>
    </div>
</template>