<template>
	<require from="styles/styles.css"></require>
    <require from="styles/app.css"></require>
      <require from="bootstrap-3.3.7-dist/css/bootstrap.css"></require>


    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div css.bind="mainPage">
        
 
   

     <ul class="viewList">
        <li id="storage" repeat.for="organization of organizations">
            ${organization.name}
            <br>
            ${organization.address}
            <br>
            ${organization.city}
            ${organization.state}
            ${organization.zipCode}
            <br>
            <button class="removeBtn" click.trigger="removeOrg(organization)">Remove</button>
        </li>
    </ul>

        </div>
    </div>

    <div class="testDiv">
    </div>
</template>